# =====================================================
# DATABASE
# =====================================================

MONGODB_URI=mongodb://kuldeepmaurya4296_db_user:r8dAd1ZrrQhS9pRr@ac-7icklru-shard-00-00.wx9o96c.mongodb.net:27017,ac-7icklru-shard-00-01.wx9o96c.mongodb.net:27017,ac-7icklru-shard-00-02.wx9o96c.mongodb.net:27017/raja-boot-house?ssl=true&replicaSet=atlas-o67fav-shard-0&authSource=admin&retryWrites=true&w=majority


# =====================================================
# NEXT AUTH
# =====================================================

NEXTAUTH_SECRET=super_secret_fakhri_it_services_key_2026
NEXTAUTH_URL=http://localhost:3000
JWT_SECRET=super_secret_fakhri_it_services_key_2026


# =====================================================
# GOOGLE AUTH
# =====================================================

GOOGLE_CLIENT_ID=652908610181-88s80steoogb6d6lsg60eo5vsc7pn5ff.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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


# =====================================================
# RAZORPAY
# =====================================================

RAZORPAY_KEY_ID=rzp_test_S8nBupaDcI7xxs
RAZORPAY_KEY_SECRET=7e1brirGKxSU6DSUcP6nUi12

# Not provided yet
RAZORPAY_WEBHOOK_SECRET=whsec_dummywebhooksecret

# Public key for frontend
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_S8nBupaDcI7xxs


# =====================================================
# EMAIL / SMTP
# =====================================================

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=kuldeepmaurya4296@gmail.com
SMTP_PASS=kloo fhrb btvr nmlx

SUPPORT_EMAIL=kuldeepmaurya4296@gmail.com
ADMIN_EMAIL=kuldeepmaurya4296@gmail.com


# =====================================================
# PUSH NOTIFICATIONS (WEB PUSH)
# =====================================================

VAPID_PUBLIC_KEY=BDF-TGPF45svLJFZscoH2q8qLKGs6mSbXg5-zT9O45t_uYUrlUHH8x0gez-JF82B6tk-A5MMbLucdFVN84wZc5A
VAPID_PRIVATE_KEY=ox4_hLANlPak-D-P5q6LRN9hARIEga7QxDwtllmkIL4

NEXT_PUBLIC_VAPID_PUBLIC_KEY=BDF-TGPF45svLJFZscoH2q8qLKGs6mSbXg5-zT9O45t_uYUrlUHH8x0gez-JF82B6tk-A5MMbLucdFVN84wZc5A
VAPID_SUBJECT=mailto:mauryatech7@gmail.com


# =====================================================
# VERCEL BLOB STORAGE
# =====================================================

BLOB_READ_WRITE_TOKEN=vercel_blob_rw_SZFDjh9KdeU1EfbI_Z3lvVic5ELojJ2b8yE3xnnemAQl6Oe

